<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
    <title>Moola</title>
</head>

<body class="bg">
    <header>
        <h1><a style="text-decoration:none;" rel="Click here" href="/">Moola.</a></h1>
        <nav>
            <ul class="menu">
                <li><a style="text-decoration:none;" rel="Click here" href="/">Home</a></li>
                <li><a style="text-decoration:none;" rel="Click here" href="/transactions">Transactions</a></li>
                <li><a style="text-decoration:none;" rel="Click here" href="/merchants">Merchants</a></li>
                <li><a style="text-decoration:none;" rel="Click here" href="/tags">Tags</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
</body>

</html>
<footer>
    <p>Moola.</p>
    <p><a href="mailto:moola@moola.com">moola@moola.com</a></p>
</footer>