{% extends 'base.html' %}

{% block content %}
<h1>Merchants</h1>

<p class="btn--wrapper">
    <a class="btn btn--action" href="/merchants/new">New Tag</a>
</p>


{% for merchant in merchants %}
<main class="merchant_list">
    <div>
        <h3>{{ merchant.name }}</h3>
    </div>
    <div>
        </form>
        <form action="/merchants/{{merchant.id}}/edit">
            <input type="submit" value="Edit">
        </form>
        <form action="/merchants/{{ merchant.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>
</main>
{% endfor %}



{% endblock %}