{% extends 'base.html' %}

{% block content %}
<h1>Transactions</h1>

<p class="btn--wrapper">
    <a class="btn btn--action" href="/transactions/new">New Transaction</a>
</p>
<ul>
    {% for transaction in transactions %}
    <main class="index_list">
        <div>
            <h3>{{ transaction.merchant.id }}</h3>
            <h3>{{ transaction.tag.id }}</h3>
            <h3>{{ transaction.amount }}</h3>
        </div>
        <div>
            </form>
            <form action="/transactios/{{ transaction.id }}/edit">
                <input type="submit" value="Edit">
            </form>
        </div>
        {% endfor %}
</ul>


{% endblock %}